.bg-gray-transparent {
    background-color: rgba(20, 20, 20, 0.9);
}

.center {
    margin-left: auto;
    margin-right: auto;
}

.center > svg {
    margin-left: 50%;
    transform: translateX(-50%);
}

.katex-display {
    text-align: left !important;
}
